@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1em;
}

h3 {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  border-bottom: 1px dotted #666;
  padding: 0.5em 0;
}

header {
  background-attachment: fixed;
  background-image: url(https://static.insales-cdn.com/images/products/1/6619/705526235/7106-12.jpg);
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative;
  text-align: center;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0.5;
}

.pseudo-table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.pseudo-cell {
  color: #fff;
  display: table-cell;
  width: 100%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}

.more-info {
  width: 100%;
  line-height: 14px;
  text-align: center;
  color: #fff;
}

.more-info i {
  margin-right: 10px;
}

.more-info div {
  font-style: italic;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding-left: 20px;
  border-left: 1px solid #fff;
}

.more-info div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.more-info div:first-child {
  border-left: none;
}

.main-article {
  width: 54em;
  margin: auto;
  max-width: 100%;
  padding: 5em 0;
  position: relative;
}

.scroll {
  position: absolute;
  left: calc(50% - 1em);
  width: 2em;
  height: 3.8em;
  top: -55px;
  border: 0.15em solid white;
  border-radius: 5em;
  font-size: 10px;
}

.scroll:before {
  content: "";
  position: absolute;
  left: calc(50% - .2em);
  top: 0.4em;
  width: 0.4em;
  height: 0.4em;
  background: white;
  border-radius: 50%;
  -webkit-animation: fadeTo 1.4s ease-in infinite;
  animation: fadeTo 1.4s ease-in infinite;
}

@-webkit-keyframes fadeTo {
  to {
    transform: translateY(1em);
    opacity: 0;
  }
}
@keyframes fadeTo {
  to {
    transform: translateY(1em);
    opacity: 0;
  }
}